<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>下拉框</title>
    <link rel="stylesheet" href="../../theme/bootstrap/bootstrap.css">
    <style type="text/css">
        .J-tab .active{background-color:#03A9F4;}
        .J-tab div{display:none;}
    </style>
</head>
<body ng-controller="controller">
<cc-select option="balls.option" change="balls.change" disabled="balls.disabled"></cc-select>
<!--<my-tab my-id="div1" my-data="sports" class="J-tab"></my-tab>
<my-tab my-id="div2" my-data="time" class="J-tab"></my-tab>-->
</body>
<script src="../../lib/jquery/jquery-1.9.1.js"></script>
<script src="../../lib/bootstrap/bootstrap.js"></script>
<script src="../../lib/angular/angular.js"></script>
<script>
    var app = angular.module('myApp',[]);
    app.controller('controller', ['$scope', function ($scope) {
        $scope.balls = {
            placeholder: '-- 请选择 --',
            value: '',
            disabled: false,
            option: [
                {
                    label: '篮球',
                    value: 1
                },
                {
                    label: '足球',
                    value: 2
                },
                {
                    label: '排球',
                    value: 3
                }
            ],
            change: function (option){
                console.log(option);
            }
        };
        $scope.sports = [
            {title : '篮球',content : '篮球运动'},
            {title : '足球',content : '足球运动'},
            {title : '排球',content : '排球运动'}
        ];
        $scope.time = [
            {title : '上午',content : '上午好'},
            {title : '中午',content : '中午好'}
        ];
    }]);
    app.directive('ccSelect', function () {
        return {
            restrict: 'E',
            replace: true,
            template: '<div class="col-xs-2">\n' +
            '    <select id="select" class="form-control">\n' +
            '        <option ng-repeat="o in option" value="{{o.value}}">{{o.label}}</option>\n' +
            '    </select>\n' +
            '</div>',
            scope: {
                option: '=?',
                change: '=',
                disabled: '='
            },
            controller: function ($scope) {
                console.log($scope);
            },
            link: function (scope, element) {
                var isDisabled = scope.disabled || false;
                var select = angular.element(element);
                select.find('select').attr('disabled',isDisabled);
                element.on('change', 'select',  function(e){
                    var oSelected = select.find("option:selected");
                    scope.change && scope.change({
                        label: oSelected.text(),
                        value: oSelected.val()
                    });
                });
            }
        }
    });
    app.directive('myTab',function(){
        return {
            restrict : 'E',
            replace : true,
            scope : {
                myId : '@',
                myData : '='
            },
            controller : ['$scope',function($scope){
                $scope.name = 'this is a xiecg';
            }],
            template : '<div id="{{myId}}">'+
                    '<input ng-repeat="data in myData" type="button" ng-value="data.title" ng-class="{active:$first}">'+
                    '<div ng-repeat="data in myData" ng-style="{display:$first?\'block\':\'none\'}">{{data.content}}</div>'+
                '</div>',
            link : function(scope,element,attr){
                element.on('click','input',function(){
                    var self = $(this) , i = self.index();
                    self.addClass('active').siblings('input').removeClass('active');
                    self.siblings('div').eq(i).show().siblings('div').hide();
                });
            }
        };
    });

</script>
</html>